.img {
    display: flex;
    margin: 0 auto;
    width: 50px;
}

.price {
    text-align: center;
    justify-content: center;
    padding: auto 0;
}

.no_data {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 13rem 0;
    font-weight: 300;
    font-style: italic;
}